homework0/.vscode/
submit/homework0.zip
submit/
Assignment2/prt/build/.vs/
Assignment2/prt/ext/
Assignment2/prt/scenes/
Assignment2/prt/include/
Assignment2/prt/build/CMakeFiles/
Assignment2/homework2/assets/
Assignment2/prt/build/ext_build/
Assignment2/prt/build/scenes/
*.pdf
homework3/assets/
homework3/lib/
homework3/handin/
PPT/
